[submodule "models/cg3"]
	path = models/cg3
	url = https://github.com/GrammarSoft/cg3.git
[submodule "models/FinnPos"]
	path = models/FinnPos
	url = https://github.com/mpsilfve/FinnPos
[submodule "models/Turku-neural-parser-pipeline"]
	path = models/Turku-neural-parser-pipeline
	url = https://github.com/TurkuNLP/Turku-neural-parser-pipeline.git
